// main: style.styl

@font-face {
    font-family: 'handlee';
    src: url('../font/handlee-webfont.woff2') format('woff2'),
         url('../font/handlee-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    &::after {
        content : ''
        font-family:'handlee';
    }
}
